---

---

<header
  class="bg-[#EDEDED] rounded-full px-6 py-3 flex items-center justify-between max-w-6xl mx-auto mt-4"
>
  <div class="flex items-center space-x-2">
    <img
      src="../../public/KpitalLogo.png"
      alt="Kapital Logo"
      class="h-12 w-auto"
    />
  </div>

  <nav class="flex items-center space-x-10 text-sm font-medium">
    <a href="#" class="text-black font-semibold">Empresas</a>
    <a href="#" class="text-black/70 hover:text-black">Personas</a>
    <a href="#" class="text-black/70 hover:text-black">Negocios</a>
    <a href="#" class="text-black/70 hover:text-black">FAQ</a>
    <a href="#" class="text-black/70 hover:text-black">Contacto</a>
  </nav>

  <div class="flex items-center space-x-3">
    <button
      class="border border-black rounded-full px-4 py-2 text-sm font-semibold hover:bg-black hover:text-white transitio text-black"
    >
      Abrir cuenta
      <span class="inline-block ml-1">▾</span>
    </button>
    <button
      class="bg-black text-white rounded-full px-4 py-2 text-sm font-semibold"
    >
      Iniciar sesión
      <span class="inline-block ml-1">▾</span>
    </button>
  </div>
</header>
