---
import HeroVideoClient from "./HeroVideoClient.tsx";
---

<section class="w-full text-center bg-black text-white py-20 px-10">
  <p class="text-gray-300 text-sm mb-2 font-normal">
    Crédito PyME Kapital Bank
  </p>
  <h1 class="text-4xl md:text-6xl font-semibold leading-tight mb-6">
    El crédito para negocios que<br />
    <span class="text-white">impulsa tu crecimiento</span>
  </h1>

  <button
    class="mt-4 mb-4 bg-white text-black font-semibold px-8 py-3 rounded-full hover:bg-gray-200 transition"
  >
    Quiero mi crédito PyME
  </button>

  <HeroVideoClient client:load />
</section>
