<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  @import "tailwindcss";
  html,
  body {
    color: white;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: black;
  }
  body {
    background-color: #0e100f;
    color: #fffce1;
    font-family: Avenir, sans-serif;
  }

  /* Secciones con padding grande */
  .section {
    padding: 10rem 0;
    text-align: center;
  }

  /* Layout de las cartas */
  .cards-section {
    position: relative;
    display: grid;
    gap: 3rem;
    grid-template-columns: 200px auto;
  }

  /* Para apilar las tarjetas en el mismo grid cell */
  .cards {
    display: grid;
    margin-top: 3.5rem;
  }
  .cards > * {
    grid-area: 1 / 1 / 2 / 2;
  }

  /* Estilo de cada tarjeta */
  .card {
    width: 300px;
    height: 250px;
    background-color: red;
    border-radius: 8px;
    border: 2px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Contenido fijo a la izquierda */
  .to-stay-card {
    background-color: red;
    border-radius: 8px;
    width: auto;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
